@tailwind base;
@tailwind components;
@tailwind utilities;
footer {
    position: fixed;
    bottom: 0;
    display: block;
}

#searchBar {
    background-color: #e0d9d5;
}

.flexRecettes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 2%;
}

.flexRecette:nth-child(1) {
    flex: 1 1 auto;
    flex-grow: 1;
    align-self: stretch;
    margin: 1%;
    max-height: 400px;
}

.flexRecette:nth-child(2) {
    flex: 1 1 auto;
    flex-grow: 1;
    align-self: stretch;
    margin: 1%;
    max-height: 400px;
}

.flexRecette:nth-child(3) {
    flex: 1 1 auto;
    flex-grow: 1;
    align-self: stretch;
    margin: 1%;
    max-height: 400px;
}