@tailwind base;
@tailwind components;
@tailwind utilities;
.testClass {
    margin-top: 2%;
}

footer {
    position: fixed;
    bottom: 0;
    display: block;
}

.flexRecettes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 2%;
}

.flexRecette:nth-child(1) {
    flex: 1 1 auto;
    flex-grow: 1;
    align-self: stretch;
    margin: 1%;
    max-height: 400px;
}

.flexRecette:nth-child(2) {
    flex: 1 1 auto;
    flex-grow: 1;
    align-self: stretch;
    margin: 1%;
    max-height: 400px;
}

.flexRecette:nth-child(3) {
    flex: 1 1 auto;
    flex-grow: 1;
    align-self: stretch;
    margin: 1%;
    max-height: 400px;
}

.flexSearchRecettes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 2%;
}

.flexAllRecette {
    margin: 1%;
    flex: 0 0 29%;
    max-height: 400px;
}


/* Admin Create Recipe Form*/

.createRecipeFlex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addRecipForm {
    background-color: bisque;
    padding: 1%;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.inputRecipeName {
    background-color: #ccc;
    border-color: transparent;
    width: 100%;
}

.catChoice {
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
}

textarea {
    width: 30em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.inputImageRecipe {
    background-color: #ccc;
    width: 100%;
}

.addRecipForm {
    width: 50%;
    height: auto;
}

.addRecipForm>textarea {
    width: 100%;
}